<div class="title">
  <h1 class="title-c">CALCULADORA</h1>
</div>
<form required  (change)="capture($event)" class="operators">
  <select id="op" name="operaciones">
  <option value="+">Suma</option>
  <option value="-">Resta</option>
  <option value="*">Multiplicacion</option>
  <option value="/">Division</option>
  </select>
</form>

<div class="calculadoraConten">

<table class="calculadora">

  <tr>
    <td colspan="5"><label class="result">{{dataNumbers}}</label></td>
  </tr>
  <tr>
    <td><button class="number" (click)="pressNumber($event)" id= '1'>1</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '2'>2</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '3'>3</button></td>
    <td><button class="clear" (click)="clearLabel()">C</button></td>
  </tr>
  <tr>
    <td><button class="number" (click)="pressNumber($event)" id= '4'>4</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '5'>5</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '6'>6</button></td>
    <td rowspan="2" ><button class="operator" (click)="pressNumber($event)" id="{{operator}}">{{operator}}</button></td>
  </tr>
  <tr>
    <td><button class="number" (click)="pressNumber($event)" id= '7'>7</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '8'>8</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '9'>9</button></td>
  </tr>
  <tr>
    <td colspan="2"><button class="number0" (click)="pressNumber($event)" id= '0'>0</button></td>
    <td><button class="number" (click)="pressNumber($event)" id= '.'>.</button></td>
    <td><button class="igual" (click)="getResult()">=</button></td>
  </tr>
</table>
</div>
<!--<h2>Suma</h2>
<input type="text" required #nameInput="ngModel" [(ngModel)]="dataNumbersSum"/>
<button (click)="sum()" >SUMAR</button>
<label>Resultado : {{resulSum}}</label>

<h2>Resta</h2>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="dataNumbersSustraction"/>
<button (click)="substraction()" >RESTAR</button>
<label>Resultado : {{resulSustraction}}</label>

<h2>Multiplicacion</h2>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="dataNumbersMultiply"/>
<button (click)="multiply()">MULTIPLICAR</button>
<label>Resultado : {{resulMultiply}}</label>

<h2>Division</h2>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="dataNumbersDivision"/>
<button  (click)="division()">DIVIDIR</button>
<label>Resultado : {{resulDivision}}</label>-->
